.section__home {
  width: 100%;
}

.section__home .home__title {
  color: var(--white);
  font-size: 4rem;
  text-align: center;
  padding: 20px;
  background-color: #00000088;
}

.section__home .home__instructions {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
  font-size: 2rem;
  color: var(--white);
}

.section__home .home__image {
  display: block;
  width: 500px;
  margin: auto;
}
