.section__home {
  width: 100%;
}

.section__home .home__title {
  color: var(--white);
  font-size: 4rem;
  text-align: center;
  padding: 20px;
  background-color: #00000088;
}

.section__home .home__instructions {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
  font-size: 2rem;
  color: var(--white);
  padding: 0 15px;
}

.section__home .home__image {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 0 15px;
}

.section__home .home__loader {
  margin: 20px auto 0 auto;
  display: block;
}

.section__home .home__error {
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
  color: #ed5858;
}
